<nav class="navbar navbar-expand-lg navbar-light">
	<div class="collapse navbar-collapse" id="navbarText">
       
	  <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			<a class="nav-link" routerLink="accueil">
            <img
              src="\assets\SkySound.png"
              loading="lazy"
              height="60"
            />
          </a></li>
		  <div class="dropdown nav-item">
			<button class="dropbtn">Recherche</button>
			<div class="dropdown-content">
			  <a class="nav-link" routerLink="rechercheGenre">Chercher par genre</a>
			  <a class="nav-link" routerLink="recherche">Recherche</a>
			</div>
		  </div>
		  <li class="nav-item">
			<a class="nav-link" id="link-menu" routerLink="chart"> Chart </a>
		  </li>
		  <li class="nav-item justify-content-end">
			<a *ngIf="this.userService.accessToken == undefined" href="https://connect.deezer.com/oauth/auth.php?app_id=524342&redirect_uri=http://localhost:4200/accueil&perms=basic_access,email"><fa-icon [icon]="faUser"></fa-icon> </a>
			<a *ngIf="this.userService.accessToken != undefined" href="http://localhost:4200/accueil" (click)="this.userService.accessToken = undefined;"><fa-icon [icon]="faSignOutAlt"></fa-icon> </a>
		  </li>
	  </ul>
	</div>


  </nav>