<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarText">
       
	  <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			<a class="nav-link" routerLink="accueil">
            <img
              src="\assets\SkySound.png"
              loading="lazy"
              height="60"
            />
          </a></li>
		
		<li class="nav-item">
		  <a class="nav-link" routerLink="rechercheMusique">Rechercher une musique</a>
		</li>

    <li class="nav-item">
		  <a class="nav-link" routerLink="rechercheGenre">Chercher par genre</a>
		</li>

	  </ul>
	</div>
  </nav>