<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="collapse navbar-collapse" id="navbarText">
       
	  <ul class="navbar-nav mr-auto">
          <li class="nav-item">
        <a class="navbar-brand me-2" href="https://mdbgo.com/">
            <img
              src="\assets\SkySound.png"
              loading="lazy"
              height="60"
            />
          </a></li>
		<li class="nav-item active">
		  <a class="nav-link" routerLink="accueil">Accueil</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="">Liste</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLink="">Gestion</a>
		</li>
	  </ul>
	</div>
  </nav>