<footer class="text-center" id="footer">
	<div class="row">
		<h6 class="text-uppercase font-weight-bold">Contact</h6>
		<div class="col-12">
			<fa-icon [icon]="faHome"></fa-icon>
			<label> &nbsp; 142 rue Gambetta</label>
		</div>
		<div>
			<fa-icon [icon]="faEnvelope"> </fa-icon>
			<label> &nbsp; SkySound@mail.fr</label>
		</div>
		<div>
			<fa-icon [icon]="faPhone"> </fa-icon>
			<label>&nbsp; &nbsp;+33 7 39 83 93 23</label>
		</div>
	</div>
	<br>
	<div id="copyright">
		© 2022 SkySound
	</div>
</footer>