
#footer {
    color:black;
    background:linear-gradient(white 0%,50%,  #4bd18e  100%); ;
    min-width : 100%;
    margin-left: 0%;
    margin-right: 0%;
}

#copyright {
    font-size: smaller;
    color: grey;
}

h6 {
    margin-top: 1%;
}