
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
      </div>
      <div class="col-md-auto">
        <h3 >
            {{response.name}}</h3>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-lg-2">
       
      </div>
      <div class="col-md-auto">
        <img src="{{response.picture_medium}}" id="imgArtist"/>
      </div>
      <div class="col col-lg-2">
      </div>
    </div>
    <br>
    
    <div class="row justify-content-md-center">
        <div class="col-md-auto col-lg-2">
            <h4> Populaires</h4>
        </div>
        
        <div class="col-md-auto">
            <ul class="mx-auto list-group list-group-flush justify-content-center">
                <li class="list-group-item justify-content-center" *ngFor="let titre of listeTop; let indexTitre= index">
                    <audio controls src="{{titre?.preview}}"  type="audio/mp3"></audio>
                    <img src="{{titre.album.cover_small}}"/> {{titre.title}} {{titre.duration}}s
                 </li> 
            </ul>
        </div>
        <div class="col col-lg-2">
        </div>
      </div>
  </div>
