<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div>
        <img src="{{track.album.cover_medium}}" id="imgTrack" class="float-end" />
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="text-left">
        {{track.title}}
        <button *ngIf="this.userService.accessToken != undefined && !this.isInUserLibrary" (click)="addTrackToLibrary()" class="btn btn-outline-dark">  Ajouter à mes morceaux<fa-icon [icon]="faHeart"> </fa-icon></button>
		<button *ngIf="this.userService.accessToken != undefined && this.isInUserLibrary" (click)="removeTrackFromLibrary()" class="btn btn-outline-dark">Retirer de mes morceaux </button>
      </h3>
   
      <p class="text-left"> <img src="{{track.artist.picture_small}}" id="imgArtist" /> by {{track.artist.name}} </p>
      <p class="text-left">
        <fa-icon [icon]="faHourglass"> </fa-icon> {{secondesToMinutes()}}s
      </p>
      <p class="text-left">
        <fa-icon [icon]="faCalendar"> </fa-icon> {{dateRelease()}} 
      </p>
      <audio controls src="{{track?.preview}}" type="audio/mp3" class=""></audio>
    </div>
    
   
  
  </div>