.imgGeneralSearch {
    border-radius: 50%;
}

a:link {
    text-decoration: none;
    margin-left: 2%;
  }
  
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
    color: darkgray;
  }

  .container {
      margin-bottom: 4%;
  }
  
  