<h4 class="text-center">Recherche parmi les genres suivants :</h4>
<div>	<ul class="mx-auto list-inline list-inline-horizontal justify-content-center">
		<li class="list-inline-item justify-content-center" *ngFor="let genre of genres; let indexGenre = index">
			<button (click)="this.selectedGenre = this.genres[indexGenre]" type="button" class="btn btn-link">{{genre.name}}</button>
		</li> 
	</ul>
</div>
<app-artists-by-genre *ngIf ="this.selectedGenre != undefined" [currentGenre]="this.selectedGenre"></app-artists-by-genre>